body {
	margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: thaoma, arial, sans-serif; background-color: rgb(247, 237, 213);
}
div#pagina {
	margin: 0px auto auto; width: 1000px; height: auto; padding-top: 0px; background-color: white;
}
div#intestazione {
	margin: 0px; padding: 0px; width: 1000px; height: 250px; background-image: url("../images/sfondi/sfondo_intestazione2.jpg"); background-repeat: no-repeat; background-color: rgb(247, 237, 213);
}
div#admin {
	text-align: right; padding-top: 200px; padding-right: 66px; font-family: thaoma, arial, sans-serif; font-size: 10px;
}
div#struttura_centrale {
	width: 1000px; height: auto; margin-bottom: 10px; float: left; background-color: rgb(247, 237, 213);
}
div#footer {
	text-align: center; padding-bottom: 50px; font-size: x-small; background-color: rgb(247, 237, 213);
}
div#bordo_sinistra {
	margin: 0px; padding: 0px; width: 56px; height: 5px; float: left; background-color: rgb(247, 237, 213);
}
div#bordo_destra {
	margin: 0px; padding: 0px; width: 56px; height: auto; background-color: rgb(247, 237, 213);
}
div#centro {
	margin: 0px; padding: 0px; width: 888px; height: auto; float: left; background-image: url("../images/sfondi/bg_centro.jpg"); background-repeat: repeat-y; background-color: white;
}
div#menu {
	margin: 0px; padding: 0px; width: 186px; height: 650px; float: left; background-repeat: no-repeat; background-color: rgb(2, 53, 92);
}
div#contenuto {
	margin: 0px; padding: 0px 27px 50px 26px; width: 649px; height: auto; line-height: 30px; font-family: thaoma, arial, sans-serif; font-size: 13px; float: left; background-image: url("../images/sfondi/sasa.gif"); background-repeat: no-repeat; background-color: white;
}
div#tondo {
	width: 888px; height: 50px; float: left; background-image: url("../images/sfondi/sottotondo.jpg");
}
div.link_menu {
	text-align: center; color: white; padding-bottom: 10px; font-family: thaoma, arial, sans-serif; font-size: 16px; margin-top: 10px; margin-right: 25px; margin-left: 25px; border-bottom-color: rgb(97, 129, 153); border-bottom-width: 1px; border-bottom-style: solid;
}
div.link_offerte {
	text-align: center; color: white; line-height: 20px; font-family: thaoma, arial, sans-serif; font-size: 12px; margin-top: 80px; margin-right: 25px; margin-left: 25px; border-top-color: rgb(97, 129, 153); border-bottom-color: rgb(97, 129, 153); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
div.primo {
	margin-top: 30px;
}
a.menu:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.menu:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.menu:focus {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.menu:hover {
	color: rgb(217, 192, 35); text-decoration: none;
}
a.offerte:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.offerte:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.offerte:focus {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.offerte:hover {
	color: red; text-decoration: none;
}
a.pagina_selezionata:link {
	color: rgb(217, 192, 35); text-decoration: none;
}
a.pagina_selezionata:visited {
	color: rgb(217, 192, 35); text-decoration: none;
}
a.pagina_selezionata:focus {
	color: rgb(217, 192, 35); text-decoration: none;
}
a.pagina_selezionata:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
a.admin:link {
	color: gray; text-decoration: none;
}
a.admin:visited {
	color: gray; text-decoration: none;
}
a.admin:focus {
	color: gray; text-decoration: none;
}
a.admin:hover {
	color: red; text-decoration: none;
}
a.admin1:link {
	color: black; font-weight: 600; text-decoration: underline;
}
a.admin1:visited {
	color: black; font-weight: 600; text-decoration: underline;
}
a.admin1:focus {
	color: black; font-weight: 600; text-decoration: underline;
}
a.admin1:hover {
	color: red; text-decoration: none;
}
div#contenuto_1 {
	margin-right: 20px; margin-left: 20px;
}
p.titolo {
	height: 35px; font-size: 24px; margin-top: 0px; margin-bottom: 20px; border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
p.conferma_data {
	color: red; padding-top: 30px; padding-bottom: 0px;
}
