/**********************************************/
/* layout.css                                 */
/* Foglio di Stile relativo alla struttura    */
/*                          generica          */
/*                                            */
/* Progetto         : ANB Lombardia           */
/* Data Creazione   : 2010.08.24              */
/* Ultima Modifica  : 2010.08.28              */
/**********************************************/


/***********************************************/
/* Stile generico Tag HTML                     */
/***********************************************/

body{
  background-image: url("../bg/bg.png");
  background-repeat: repeat-y;
  background-position: center;
  background-color: #E0E0E0;
}
h1{
  padding: 5px 0 5px 0;
}
h2{
  padding: 15px 0 5px 0;
}
p{
  margin:0;
  padding:0 0 10px 0;
}

/***********************************************/
/* Fine Stile generico Tag HTML                */
/***********************************************/


/***********************************************/
/* DIV Generici                                */
/***********************************************/

#container {
  /*
    Definito nel file "960/960.css"  
  */
}
#header {
  background: #FFF;
  border-top: 2px solid #C5C5C5;
  border-bottom: 2px solid #C5C5C5;
}
#TopImage{
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  height: 150px;
  display: block;
}
#mainSpace {   
  background-color: #00AABB;
}

#footer{
  background: #800;
  border-top: 2px solid #C5C5C5;
  border-bottom: 2px solid #C5C5C5;  
}
#footer p{
  color: #C5C5C5;  
  padding: 15px;
}
#footer a{
  color: #C5C5C5;
}

/***********************************************/
/* FINE DIV Generici                           */
/***********************************************/


/***********************************************/
/* DIV Contenuti                               */
/***********************************************/


#content{
  min-height: 500px;      /* per i browser moderni */
  height:auto !important; /* per i browser moderni */
  height:500px;           /* per IE5.x e IE6. Se l'altezza è maggiore, lavora come min-height */    
  float: right;
}
#sidebar{
}
#colSx{
  padding: 10px;
}
#colDx{
  width: 200px;
  float: right;  
  padding: 10px;
}
/***********************************************/
/* FINE DIV Contenuti                          */
/***********************************************/

