/**********************************************/
/* nav-vertical.css                           */
/* Foglio di Stile relativo al Menù di        */
/*       Navigazione Verticale                */
/*                                            */
/* Progetto         : ANB Lombardia           */
/* Data Creazione   : 2010.08.24              */
/* Ultima Modifica  : 2010.08.24              */
/**********************************************/


/***********************************************/
/* DIV Menù Principale                         */
/***********************************************/
#navBar ul {
  /* Definito nel file reset.css */
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {
   margin: 0 0 -3px 0;
/*   border: 1px solid #3B6B8C;
*/
}

/* fix for browsers that don't need the hack */
html>body #navBar li {
   margin: 0;
/*   border: 1px solid #3B6B8C;
*/   
}

#navBar li{
  /* Used for Menus that doesn't have a link */
  display: block;
}	
#navBar li a {
  /* Used for Menus that have a link */
  display: block;
  padding: 6px;
}
#navBar li a:hover {
   background-color: #061C2C;
}

/***********************************************/
/* FINE DIV Menù Principale                    */
/***********************************************/

