/**********************************************/
/* typo.css                                   */
/* Foglio di Stile relativo alla struttura    */
/*    tipografica (Fonts, colore, size ecc.)  */
/*                                            */
/* Progetto         : ANB Lombardia           *
/* Data Creazione   : 2010.08.24              */
/* Ultima Modifica  : 2011.01.16              */
/**********************************************/

body {
   color: black;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
}

/* HEADINGS */
h1{
  font-size: 125%;
  font-style: oblique;
}
/* END HEADINGS */

/* TEXT */
p {
  font-size: 90%;
  line-height: 1.5em;
}

#footer p{
  text-align: center;
}
/* END TEXT */

/* Titoli Pagina */
#anb, #presidenza{
  font-size: 180%; 
}

#copertina{
  color: #FFF;
  text-align: center;  
}
#mainContent{
  color: #FFF;
}

.introText{
  font-size: 80%;
  color: #000;
}
.DateIntroText{
  font-weight: bold;
  text-decoration: underline;
}
.GoToPage{
  color: #AA2222;
  font-weight: bold;
  text-decoration: none;
}

/* Pagina Iniziale*/
#entra a{
  color: #FFF;
  text-decoration: none;  
}
#entra a:hover{
  color: #AAA;
}

/* Div Nominativi Presidenti */
.tdPresSx{
  font-size: 90%;
}
.tdPresDx{
  line-height: 1.2em;
  font-weight: bold;
  font-size: 80%;
}

/***********************************************/
/* Menu Laterale                               */
/***********************************************/
#navBar li{
  /* Used for Menus that doesn't have a link */
  font-weight: bold;
  font-size: 90%;
  color: #C5C5C5;
}	
#navBar li a {
  /* Used for Menus that have a link */
  font-weight: bold;
  font-size: 90%;
  color: #209ACF;
  text-decoration: none;
}


/***********************************************/
/* Pagina La Marmora                           */
/***********************************************/
.dataLaMarmora{
  font-size: 80%;
  text-align: center;
  line-height: 80%;
}
#descLaMarmora{
  text-align: center;
  font-size: 80%;
  color: #000
}
.box h2{
  text-align: center;
  font-size: 110%;
  line-height: 1.2em;
}
.box li{
  list-style:square;
  font-size: 90%;
  line-height: 1.1em;
}

/***********************************************/
/* Fine Pagina La Marmora                      */
/***********************************************/
